## Loading Libraries

In [14]:
import pandas as pd
import numpy as np

## Import Data
The data were downloaded on my local folder. Let's import them

In [15]:
import os
abs_path = os.path.abspath("./divvy-tripdata")
p = os.listdir("./divvy-tripdata")
p

['202109-divvy-tripdata.csv',
 '202110-divvy-tripdata.csv',
 '202111-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv',
 '202204-divvy-tripdata.csv',
 '202205-divvy-tripdata.csv',
 '202206-divvy-tripdata.csv',
 '202207-divvy-tripdata.csv',
 '202208-divvy-tripdata.csv',
 '__MACOSX']

In [16]:
files_path = [ abs_path + "\\" +f for f in p[:len(p)-1] ]
files_path

['C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202109-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202110-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202111-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202112-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202201-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202202-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202203-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202204-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202205-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202206-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202207-divvy-tripdata.csv',
 'C:\\Users\\USER\\data-analyst-projects\\coursera_case_study_1\\divvy-tripdata\\202208-divvy-tripdata.csv']

In [17]:
# put all dfs in a list
df_202109 = pd.read_csv(files_path[0])
df_202110 = pd.read_csv(files_path[1])
df_202111 = pd.read_csv(files_path[2])
df_202112 = pd.read_csv(files_path[3])

df_202201 = pd.read_csv(files_path[4])
df_202202 = pd.read_csv(files_path[5])
df_202203 = pd.read_csv(files_path[6])
df_202204 = pd.read_csv(files_path[7])
df_202205 = pd.read_csv(files_path[8])
df_202206 = pd.read_csv(files_path[9])
df_202207 = pd.read_csv(files_path[10])
df_202208 = pd.read_csv(files_path[11])

dfs = [df_202109,
        df_202110,
        df_202111,
        df_202112,
        df_202201,
        df_202202,
        df_202203,
        df_202204,
        df_202205,
        df_202206,
        df_202207,
        df_202208
        ]

## Process

In [18]:
df_202201.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [19]:
# convert to date time
for df in dfs:
    df["started_at"] = pd.to_datetime(df["started_at"])
    df["ended_at"] = pd.to_datetime(df["ended_at"])

In [20]:
## create a column called “ride_length” by subtracting the column “started_at” from the column “ended_at” 
for df in dfs:
    df["ride_length"] = df["ended_at"] - df["started_at"]
df_202201.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.01256,-87.674367,casual,0 days 00:02:57
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.01256,-87.674367,casual,0 days 00:04:21

In [21]:
# add column “day_of_week” represent the day of the week that each ride 
# note what we want:  1 = Sunday and 7 = Saturday

'''
    from to
sun 6 1
mon 0 2
tue 1 3
wed 2 4
thu 3 5
fri 4 6
sat 5 7
'''

# pandas return monday = 0 and sunday = 6. So, add each weekday by one
for df in dfs:
    weekday = df["started_at"].dt.weekday.apply(lambda x: 1 if x==6 else x+2 )
    df["day_of_week"] = weekday

df_202201.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57,5
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21,2
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21,3
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56,3
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02,5

In [22]:
# combine start_lat and start_lng into start_coordinates
# same for end_at and end_lng

for df in dfs:
    df["start_coordinate"] = df['start_lat'].astype(str) + "," + df['start_lng'].astype(str)
    df.drop(["start_lat", "start_lng"], inplace=True, axis=1)
    
    df["end_coordinate"] = df['end_lat'].astype(str) + "," + df['end_lng'].astype(str)
    df.drop(["end_lat", "end_lng"], inplace=True, axis=1)

df_202201.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,day_of_week,start_coordinate,end_coordinate
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,casual,0 days 00:02:57,5,"42.0128005,-87.665906","42.01256011541,-87.6743671152"
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,casual,0 days 00:04:21,2,"42.012763,-87.6659675","42.01256011541,-87.6743671152"
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,member,0 days 00:04:21,3,"41.9256018819,-87.6537080423","41.92533,-87.6658"
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,casual,0 days 00:14:56,3,"41.983593,-87.669154","41.961507,-87.671387"
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,member,0 days 00:06:02,5,"41.87785,-87.62408","41.88462107257936,-87.62783423066139"

In [23]:
# convert member to 1 and casual to 0
for df in dfs:
    df["member_casual"] = df["member_casual"].apply(lambda x: 1 if x=="member" else 0)

df_202201.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,day_of_week,start_coordinate,end_coordinate
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,0,0 days 00:02:57,5,"42.0128005,-87.665906","42.01256011541,-87.6743671152"
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,0,0 days 00:04:21,2,"42.012763,-87.6659675","42.01256011541,-87.6743671152"
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,1,0 days 00:04:21,3,"41.9256018819,-87.6537080423","41.92533,-87.6658"

## Mean of ride_length

In [24]:
print("Mean of ride length, from Sep 2021 to Aug 2022\n")
for df in dfs:
    mean_ride_length = df.ride_length.mean()
    print(f"{df.started_at.dt.month_name()[0]} {df.started_at.dt.year[0]} : {mean_ride_length}")

Mean of ride length, from Sep 2021 to Aug 2022

September 2021 : 0 days 00:20:30.636389485
October 2021 : 0 days 00:19:05.553846007
November 2021 : 0 days 00:14:48.748912433
December 2021 : 0 days 00:14:31.409477256
January 2022 : 0 days 00:15:15.879840030
February 2022 : 0 days 00:14:14.419232066
March 2022 : 0 days 00:18:29.834777955
April 2022 : 0 days 00:17:38.121495276
May 2022 : 0 days 00:21:05.860449108
June 2022 : 0 days 00:22:40.908376711
July 2022 : 0 days 00:21:23.443243860
August 2022 : 0 days 00:20:39.437355903

## Max ride_length

In [25]:
print("Max of ride length, from Sep 2021 to Aug 2022\n")
for df in dfs:
    max_ride_length = df.ride_length.max()
    print(f"{df.started_at.dt.month_name()[0]} {df.started_at.dt.year[0]} : {max_ride_length}")

Max of ride length, from Sep 2021 to Aug 2022

September 2021 : 22 days 19:38:32
October 2021 : 28 days 06:25:01
November 2021 : 24 days 07:17:43
December 2021 : 21 days 02:40:33
January 2022 : 20 days 07:51:06
February 2022 : 7 days 13:45:58
March 2022 : 23 days 20:34:04
April 2022 : 14 days 16:02:12
May 2022 : 25 days 04:17:48
June 2022 : 24 days 21:00:38
July 2022 : 23 days 18:08:49
August 2022 : 19 days 12:49:22

## Mode of day_of_week

In [26]:
print("Mode of day of week, from Sep 2021 to Aug 2022\n")

for df in dfs:
    mode_day_of_week = df.day_of_week.mode()
    print(f"{df.started_at.dt.month_name()[0]} {df.started_at.dt.year[0]} : {mode_day_of_week}")

Mode of day of week, from Sep 2021 to Aug 2022

September 2021 : 0    7
Name: day_of_week, dtype: int64
October 2021 : 0    7
Name: day_of_week, dtype: int64
November 2021 : 0    3
Name: day_of_week, dtype: int64
December 2021 : 0    5
Name: day_of_week, dtype: int64
January 2022 : 0    5
Name: day_of_week, dtype: int64
February 2022 : 0    2
Name: day_of_week, dtype: int64
March 2022 : 0    4
Name: day_of_week, dtype: int64
April 2022 : 0    7
Name: day_of_week, dtype: int64
May 2022 : 0    2
Name: day_of_week, dtype: int64
June 2022 : 0    5
Name: day_of_week, dtype: int64
July 2022 : 0    7
Name: day_of_week, dtype: int64
August 2022 : 0    3
Name: day_of_week, dtype: int64

### Rest of the steps will be performed in spreadsheet and R :)